<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="41411GyurisBence.BPMenetrendbeta" Publisher="CN=DE134140-7914-4B28-AF2F-0B6291953934" Version="1.1.0.6" />
  <Properties>
    <DisplayName>BP Menetrend beta</DisplayName>
    <PublisherDisplayName>Global City Transit</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="hu" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CityTransitApp.Windows.App">
      <m2:VisualElements DisplayName="BP Menetrend beta" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Menetrend alkalmazás budapesti tömegközlekedéshez." ForegroundText="light" BackgroundColor="#0b3794">
        <m2:DefaultTile ShortName="BP Menetrend" Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0b3794" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>